
<div class="bjui-pageContent">
    <form action="${ctx}/sys/user/save" class="pageForm" data-toggle="validate">
        <table class="table table-condensed table-hover">
            <tbody>
            <tr>
                <label for="j_dialog_name" class="control-label x90">旧密码：</label>
                <input type="text" name="name" id="j_dialog_name" value="" data-rule="required" size="20">

            </tr>
            <tr>
                <label for="j_dialog_tel" class="control-label x85">新密码：</label>
                <input type="text" name="mobile" id="j_dialog_tel" value="" data-rule="required;mobile" size="20">
            </tr>

            <tr>
                <label for="j_dialog_loginName" class="control-label x90">再次输入新密码：</label>
                <input type="text" name="loginName" id="j_dialog_loginName" value="" data-rule="required" size="20">
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">关闭</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>